body{
overflow: hidden;
background-color:white ;
}
.panels{
    display:flex;
    flex-direction: row;
}
.panel{
    flex:1;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); background-size: cover;; }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); background-size: cover; }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); background-size: cover; }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);  background-size: cover;}
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);  background-size: cover;}
.panel .upper{
    transform: translateY(1000px);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.panel .lower{
 transform: translateY(-1000px);
 transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.openactive{
    flex:5;
    font-size:25px;
    color:white;
    transform: scale(1.05);
    
}
.openactive .upper{
    transform: translateY(-50px);
}
.openactive .lower{
 transform: translateY(70px);
}
